.external__link
    .external__link-header
        .external__link-title Enlaces externos
    .external__link-content
        ul.external__link-list
            each val in [1,2,3,4,5,6,7,8,9,10]
                li
                    a(href="#" target="_blank")
                        img(src=`/images/enlaces_externos/${val}.png`)
section.wrapper__footer
