.external__link
    .external__link-header
        .external__link-title Enlaces externos
    .external__link-content
        ul.external__link-list
            each val in [1,2,3,4,5,6,7,8,9,10]
                li
                    a(href="#" target="_blank")
                        img(src=`/images/enlaces_externos/${val}.png`)
section.wrapper__footer
    .section__contentf
        .row
            .col-12.col-md-4.pt-sm-4
                p MUNICIPALIDAD PROVINCIAL DEL SANTA
                span(class="fa fa-location-arrow")  Jr. Enrique Palacios N°343
                br
                span(class="fa fa-phone")  043- 321331
                br
                span(class="fa fa-calendar")  Lunes a Viernes
                br
                span  - Mañana: 7:30am a 01:00pm
                br
                span  - Mañana: 7:30am a 01:00pm                
            .col-12.col-md-8.pt-sm-4            
                p.text-center ENLACES DE INTERÉS
                .row
                    .col-12.col-sm-6.col-md-4
                        a(class="enlaces" href="#") Desarrollo Concertado
                        br
                        a(class="enlaces" href="#") Licencias Municipales
                        br
                        a(class="enlaces" href="#") Adulto Mayor
                        br
                        a(class="enlaces" href="#") Inspecciones Técnicas S.E
                        br
                    .col-12.col-sm-6.col-md-4                  
                        a(class="enlaces" href="#") Plan de Abandono de la Central Térmica de Chimbote
                        br
                        a(class="enlaces" href="#") Video Infobras
                        br
                        a(class="enlaces" href="#") Inspecciones Técnicas S.E
                        br
                    .col-12.col-sm-6.col-md-4
                        a(class="enlaces" href="#") Plan de Abandono de la Central Térmica de Chimbote
                        br
                        a(class="enlaces" href="#") Video Infobras
                        br
                        a(class="enlaces" href="#") Inspecciones Técnicas S.E
                        br

            .col-12.pt-sm-4
                p.text-center Copyright © Dirección de Imagen y Relaciones Institucionales - GITIC - MPS
        

