- var navbarID = "myNavbar";
section.wrapper__header
    .wrapper__header-picture
        .box-picture.box-picture-left
            img(class="full" src="/images/portada/chimbote.png")
        .box-picture.box-picture-center.box-row-3
            .picture.box-col.img-green-over
                img(src="/images/portada/portada1.png")
            .picture.box-col.img-red-over
                img(src="/images/portada/portada2.png")
            .picture.box-col.img-yellow-over
                img(src="/images/portada/portada3.png")
        .box-picture.box-picture-right.flex-center-column
            .box__card
                .box__card-icon
                    i.ion.ion-md-contact
                .box__card-content
                    small Teléfono
                    strong 043 - 321331
            .box__card
                .box__card-icon
                    i.ion.ion-md-calendar
                .box__card-content
                    small Horario
                    strong 043 - 321331
    nav(class="navbar navbar-expand-lg navbar-dark bg-theme")
        .container
            a(href="index.html" class="navbar-brand")
                span.navbar-brand-logo
                .navbar-brand-name
                    span.text-description Municipalidad Provincial
                    span.text-description del Santa
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target=`#${navbarID}` aria-controls=`${navbarID}` aria-expanded="false" aria-label="Toggle Navigation")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse" id=`${navbarID}`)
                ul(class="navbar-nav mr-auto")
                    li(class="nav-item active")
                        a(class="nav-link" href="index.html")
                            i.ion.ion-md-home
                            | Inicio
                    li(class="nav-item dropdown")
                        a(class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" href="#" role="button" data-haspoup="true" aria-expanded="false")
                            i.fa.fa-institution
                            | Municipalidad
                        div(class="dropdown-menu" labelledby="navbarDropdown")
                            a.dropdown-item(href="autoridades.html") 
                                i.fa.fa-group 
                                span  Autoridades Municipales
                            .dropdown-divider
                            a.dropdown-item(href="area.html")
                                i.fa.fa-address-card-o
                                span  Gerencias
                            .dropdown-divider
                            a.dropdown-item(href="funcionarios.html")
                                i.fa.fa-street-view
                                span  Funcionarios Municipales
                            .dropdown-divider
                            a.dropdown-item(href="organigrama.html")
                                i.fa.fa-sitemap
                                span  Organigrama
                    li(class="nav-item dropdown")
                        a(class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" href="#" role="button" data-haspoup="true" aria-expanded="false")
                            i.fa.fa-handshake-o
                            | Ciudad
                        div(class="dropdown-menu" labelledby="navbarDropdown")
                            a.dropdown-item(href="#")
                                i.fa.fa-book
                                span  Agenda Municipal
                            .dropdown-divider
                            a.dropdown-item(href="#")
                                i.fa.fa-map-marker
                                span  Mercados
                            .dropdown-divider
                            a.dropdown-item(href="#")
                                i.fa.fa-camera
                                span  Turismo
                    li(class="nav-item")
                        a(class="nav-link" href="#")
                            i.ion.ion-md-bookmarks
                            | Tupa
                    li(class="nav-item dropdown")
                        a(class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" href="#" role="button" data-haspoup="true" aria-expanded="false")
                            i.fa.fa-handshake-o
                            | Servicios
                        div(class="dropdown-menu" labelledby="navbarDropdown")
                            a.dropdown-item(href="#")
                                i.fa.fa-ambulance
                                span  Salud y Ambiente
                            .dropdown-divider
                            a.dropdown-item(href="#")
                                i.fa.fa-car
                                span  Seguridad Ciudadana
                            .dropdown-divider
                            a.dropdown-item(href="#")
                                i.fa.fa-users
                                span  Social
                            .dropdown-divider
                            a.dropdown-item(href="#")
                                i.fa.fa-newspaper-o
                                span  Cultura
                    li(class="nav-item")
                        a(class="nav-link" href="https://gator3024.hostgator.com:2096")
                            i.ion.ion-md-mail
                            | Email
                    li(class="nav-item")
                        a(class="nav-link" href="transparencia.html")
                            img(src="images/portada/pte.png")
                            | Transparencia