extends ../structure/_layout
block content
	section.wrapper__content
		.section.section
			h3.section__title AUTORIDADES MUNICIPALES
			.section__content
				.row.flex-center
					.col-12.col-md-4.col-sm-6
						img(class="img-fluid" src="images/areas/gfinanzas/contabilidad.jpg")
						p ALCALDE
						img(class="img-fluid" src="images/areas/gfinanzas/contabilidad.jpg")
						p REGIDOR 1
						img(class="img-fluid" src="images/areas/gfinanzas/contabilidad.jpg")
						p REGIDOR 2
					.col-12.col-md-4.col-sm-6
						img(class="img-fluid" src="images/areas/gfinanzas/contabilidad.jpg")
						p REGIDOR 3
						img(class="img-fluid" src="images/areas/gfinanzas/contabilidad.jpg")
						p REGIDOR 4
						img(class="img-fluid" src="images/areas/gfinanzas/contabilidad.jpg")
						p REGIDOR 5
					.col-12.col-md-4.col-sm-6
						img(class="img-fluid" src="images/areas/gfinanzas/contabilidad.jpg")
						p REGIDOR 6
						img(class="img-fluid" src="images/areas/gfinanzas/contabilidad.jpg")
						p REGIDOR 7
						img(class="img-fluid" src="images/areas/gfinanzas/contabilidad.jpg")
						p REGIDOR 8