extends ../structure/_layout
block content
    section.wrapper__content
        .section.section__parallax.section__plaza
        .section.py-3.py-md-5
            h3.section__title Reciente
            .section__content
                .row
                    .col-12.col-md-8
                        .row
                            .col-12.col-md-6
                                #carouselOne(class="carousel carousel__bg slide" data-ride="slide")
                                    .carousel-inner
                                        .carousel-item.text-center.active
                                            img(src="images/reciente/turismo7.png")
                                        .carousel-item.text-center
                                            img(src="images/reciente/turismo7.png")
                                        .carousel-item.text-center
                                            img(src="images/reciente/turismo7.png")
                                        .carousel-item.text-center
                                            img(src="images/reciente/turismo7.png")
                                    a.carousel-control-prev(data-slide="prev" href="#carouselOne")
                                        i.fa.fa-chevron-left
                                    a.carousel-control-next(data-slide="next" href="#carouselOne")
                                        i.fa.fa-chevron-right
                            .col-12.col-md-6
                                #carouselTwo(class="carousel carousel__bg slide" data-ride="slide")
                                    .carousel-inner
                                        .carousel-item.text-center.active
                                            img(src="images/reciente/turismo8.png")
                                        .carousel-item.text-center
                                            img(src="images/reciente/turismo8.png")
                                        .carousel-item.text-center
                                            img(src="images/reciente/turismo8.png")                                        
                                        .carousel-item.text-center
                                            img(src="images/reciente/turismo8.png")
                                    a.carousel-control-prev(data-slide="prev" href="#carouselTwo")
                                        i.fa.fa-chevron-left
                                    a.carousel-control-next(data-slide="next" href="#carouselTwo")
                                        i.fa.fa-chevron-right
                    .col-12.col-md-4
                        #news-primary.news__panel
                            .news__panel-header
                                h3.news__panel-title Noticias
                            .news__panel-body
                                a(href="#news-1") Noticia 1
                                a(href="#news-2") Noticia 2
                                a(href="#news-3") Noticia 3
                                a(href="#news-4") Noticia 4
                                a(href="#news-5") Noticia 5
                                a(href="#news-6") Noticia 6
                                a(href="#news-7") Noticia 7
                                a(href="#news-8") Noticia 8
                                a(href="#news-9") Noticia 9
                                a(href="#news-10") Noticia 10

        .section.section__parallax.section__bg.py-5
            .section__content
                .row.flex-center
                    .col-12.col-sm-6.col-md-4.pt-sm-3
                        a(href="servicios.html" class="")
                            img(src="images/seccion_uno/servicio.jpg", alt="", class="img-fluid")
                    .col-12.col-sm-6.col-md-4.pt-sm-3
                        a(href="novedades.html" class="")
                            img(src="images/seccion_uno/novedades.jpg", alt="", class="img-fluid")
                    .col-12.col-sm-6.col-md-4.pt-sm-3
                        a(href="informate.html" class="")
                            img(src="images/seccion_uno/informate.jpg", alt="", class="img-fluid")