extends ../structure/_layout
block content
	section.wrapper__content
		.section.section__bg
			h3.section__title Infórmate
			.section__content
				.row.flex-center
					.col-12.col-sm-6.col-md-4
						a(href="#" class="box__card box__card-column text-dark py-2")
							.box__card-icon
								i.ion-md-bookmarks
							.box__card-content
								strong.text-title Normas de Gestión Pública                                
					.col-12.col-sm-6.col-md-4
						a(href="#" class="box__card box__card-column text-dark py-2")
							.box__card-icon
								i.ion-md-trending-up
							.box__card-content
								strong.text-title Obras por Gestión
					.col-12.col-sm-6.col-md-4
						a(href="#" class="box__card box__card-column text-dark py-2")
							.box__card-icon
								i.ion-md-home
							.box__card-content
								strong.text-title Locales Municipales
					.col-12.col-sm-6.col-md-4
						a(href="#" class="box__card box__card-column text-dark py-2")
							.box__card-icon
								i.ion-md-cash
							.box__card-content
								strong.text-title Tributos Municipales
					.col-12.col-sm-6.col-md-4
						a(href="#" class="box__card box__card-column text-dark py-2")
							.box__card-icon
								i.ion-md-ribbon
							.box__card-content
								strong.text-title Licencias Municipales