extends ../structure/_layout
block content
	section.wrapper__content
		.section
			h3.section__title Novedades
			.section__content
				.row.flex-center
					.col-12.col-sm-6.col-md-4
						a.box__card.box__card-column.box__card-link-theme(href="#")
							.box__card-icon
								i.ion-md-paper
									.box__card-content
								strong.text-title Notas de Prensa
									.col-12.col-sm-6.col-md-4
						a.box__card.box__card-column.box__card-link-theme(href="#")
							.box__card-icon
								i.ion-md-search
									.box__card-content
								strong.text-title Control Interno
									.col-12.col-sm-6.col-md-4
						a.box__card.box__card-column.box__card-link-theme(href="#")
							.box__card-icon
								i.ion-md-person
									.box__card-content
								strong.text-title Agenda Municipal