extends ../structure/_layout
block content
    section.wrapper__content
        .section.section
            h3.section__title Organigrama
            .section__content.flex-center
                img(src="images/municipio/organigrama.jpg")