extends ../structure/_layout
block content
	section.wrapper__content
		.section
			h3.section__title Servicios
			.section__content
				.row
					.col-12.col-md-7
						.row
							.col-12.col-sm-6
								a(class="link-image" href="#")
									img(src="/images/servicios/areas-verdes.png")
							.col-12.col-sm-6
								a(class="link-image" href="#")
									img(src="/images/servicios/demuna.png")
							.col-12.col-sm-6
								a(class="link-image" href="#")
									img(src="/images/servicios/muni-salud.png")
							.col-12.col-sm-6
								a(class="link-image" href="#")
									img(src="/images/servicios/policia-municipal.png")
							.col-12.col-sm-6
								a(class="link-image" href="#")
									img(src="/images/servicios/unidad-canina.png")
							.col-12.col-sm-6
								a(class="link-image" href="#")
									img(src="/images/servicios/limpieza-publica.png")
					.col-12.col-md-5
						.card.mt-3.mt-md-0
							.card-body
								h5.card-title Combo de supervivencia
								p.card-text Mochila de Emergencia + Caja de Reserva: Contiene artículos para las primeras 24 horas, se debe de llevar durante la evacuación de desastres naturales y...
								a(class="btn btn-primary") Ver mas...