extends ../structure/_layout
block content
	section.wrapper__content
		.section
			h3.section__title Servicios
			.section__content
				.row.flex-center
					.col-12.col-md-9
						.row.content
							.col-12.col-sm-4
								a(class="link-image" href="serv.html")
									img(src="/images/servicios/areas-verdes.png" class="img-fluid")
							.col-12.col-sm-4
								a(class="link-image" href="serv2.html")
									img(src="/images/servicios/demuna.png" class="img-fluid")
							.col-12.col-sm-4
								a(class="link-image" href="serv3.html")
									img(src="/images/servicios/muni-salud.png" class="img-fluid")
							.col-12.col-sm-4
								a(class="link-image" href="serv4.html")
									img(src="/images/servicios/policia-municipal.png" class="img-fluid")
							.col-12.col-sm-4
								a(class="link-image" href="serv5.html")
									img(src="/images/servicios/unidad-canina.png" class="img-fluid")
							.col-12.col-sm-4
								a(class="link-image" href="serv6.html")
									img(src="/images/servicios/limpieza-publica.png" class="img-fluid")
					.col-12.col-md-3
						.card.mt-3.mt-md-0
							.card-body
								h5.card-title Combo de supervivencia
								p.card-text Mochila de Emergencia + Caja de Reserva: Contiene artículos para las primeras 24 horas, se debe de llevar durante la evacuación de desastres naturales y...
								a(class="btn btn-primary") Ver mas...