extends ../structure/_layout
block content
	section.wrapper__content
		.section
			h3.section__title Transparencia
			.section__content.flex-center
				iframe(src="http://www.transparencia.gob.pe/enlaces/pte_transparencia_enlaces.aspx?id_entidad=11144&id_tema=1&ver=D#.W6KKZjyZ3IU" display="block" width="100%" height="700px" frameborder="0")
