extends ../structure/_layout
block content
	section.wrapper__content
		.section
			h3.section__title Transparencia
			.section__content
				iframe(src="http://www.transparencia.gob.pe/enlaces/pte_transparencia_enlaces.aspx?id_entidad=11144&id_tema=1&ver=D#.W6KKZjyZ3IU" height="1500" width="1250" frameborder="0")
